[Unit]
Description=Service for lucsofts HomeSYS: Mainframe
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node main.js
WorkingDirectory=/root/Mainframe/

[Install]
WantedBy=multi-user.target
